/*footer*/

.col-color { 
	color:#FFF;
}
footer { 
	width:100%; 
	background-color:#263238; 
	min-height:250px; 
	padding:10px 0px 25px 0px;
}
.footer-box{
	padding: 2em;
}
.pt2 { 
	padding-top:40px; 
	margin-bottom:20px;
	text-align: left;
}
footer p { 
	font-size:13px; 
	color:#CCC; 
	padding-bottom:0px; 
	margin-bottom:8px;
	text-align: justify;
}
.footer-ul { 
	margin:0px; 
	list-style-type:none; 
	font-size:14px; 
	padding:0px 0px 10px 0px; 
}
.footer-ul li {
	padding:0px 0px 5px 0px;
	border-bottom: 1px solid #CCC;
}
.footer-ul li a{ 
	color:#CCC;
	text-align: left;
}
.footer-ul li a:hover{ 
	color:#fff; 
	text-decoration:none;
}

.bottom_border { 
	border-bottom:1px solid #323f45; 
	padding-bottom:20px;
}

.contact-box p{
	letter-spacing: .1em;
	padding: .5em;
}
.contact-box .icon-font{
	color: #CCC;
}

.footer-box{
	text-align: center;
	margin-top: 2em;
}
.social-footer { 
	display:table; 
	margin:15px auto 0 auto; 
	list-style-type:none;  
}
.social-footer li { 
	padding-left:20px; 
	padding-top:10px; 
	float:left; 
}
.social-footer li a { 
	color:#CCC; 
	border:1px solid #CCC; 
	border-radius:50%;
}
.social-footer li i {  
	width:20px; 
	height:20px; 
	text-align:center;
}

.social-footer .icon-font{
color: #CCC ;
}