.steps-box{
    display: flex;
    text-align: center;
    padding: 3em;
    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 2px 4px 12px rgb(45 53 76/50%);
    flex-wrap: wrap;
}

.step-text-box{
    padding: 10em 2em;
    background-color: #2D354C;
    text-align: left;
}

.step-text-box h1{
    color: #ffffff;
    text-align: left;
    border-left: 3px solid;
    padding: .5em;
}

.title-menu {
    color: #2D354C;
    text-align: left;
    padding: .5em;
    margin-bottom: 2rem;
    font-size: 3em;
}

.step-row-box {
    padding: 3em 8em 0;    
    justify-content: center;
    align-items: center;
}
.steps{
    padding: 0 0 0 2em;
}

.number-box{
    text-align: center;
    width: 6rem;
}

.text-steps{
    height: 10rem;
}
.text-steps h2{  
    margin-top: 15px; 
    color: #2D354C;  
}

.step-col{
    padding: 10em;
}

.btn-menu-book{
    display: inline-block;
    margin-top: 1.6rem;
    text-align: center;
    border-radius: 0.4rem;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: .09em;
    width: 100%;
    background-color: #ffffff;
    border-color: #ffffff;
    padding: .8rem 0;
    color: #2D354C;
    transition: all .5s ease 0s;
}

.btn-menu-book:hover{
    background-color: #2dc5fa;
    border-color: #2dc5fa;
    color: #ffffff;
}