.form-menu h1 {
    color: #ffffff;
    text-align: left;
    border-left: 3px solid #ffffff;
    padding: .5em;
    margin-bottom: 2rem;
}
.logo-ticket-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 100%;
}



.row-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 8em 3em;
}

.form-contain{
    padding: 0 8em 5em;
}

.form-contain h1 {
    color: #2D354C;
    text-align: left;
    border-left: 3px solid #2D354C;
    padding: .5em;
}

.form-contain input[type=number], input[type=date]{
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    padding: 8px 6px;
    margin-bottom: .5rem;
}

.form-contain label{
    font-size: 1.8em;
    color: #2dc5fa;
    padding: 8px 16px;
    margin-bottom: .5rem;
}

.form-check-input {
    width: 2em;
    height: 2em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #2D354C;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid #e1e8ee;
}
.ticket-menu{
    width: 25em;
    display: flex;
    flex-direction: column;
    padding: 3em;
    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 2px 4px 12px rgb(45 53 76 / 50%);
    flex-wrap: wrap;
    margin: 4em auto;
}
.ticket-title-menu{
    display: flex;
    justify-content: space-between;
}
.ticket-menu h2 {
    color: #2D354C;
    text-align: left;
    border-left: 3px solid #2D354C;
    padding: .5em;
    margin-bottom: 2rem;
}
.ticket-menu h3 {
    color: #2D354C;
    /* font-size: 1.08em; */
    font-weight: 600;
    letter-spacing: .09em;
    width: 50%;
    /* margin: .1em auto; */
    padding-top: .6em;
    border-top: .1em solid #2dc5fa;
}
.logo-ticket-menu{
    width: 20vh;
    object-fit: contain;
}
