.user-navegation{
    padding: 2em 0 .6em 0;
}

.user-navegation a{
    text-decoration: none;
    font-size: 18px;
    padding-left: .5em;
    letter-spacing: .05em;
    font-weight: 500;
}

.color-w{
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}
.color-w a{
    color: #ffffff; 
}

.color-w a:hover{
    color: #2dc5fa;
}

.color-w.icon-font{
color: #2dc5fa;
}

.color-b{
    color: #2dc5fa;
    border-bottom: 2px solid #2dc5fa;
}
.color-b a{
    color: #2dc5fa;
}
.color-b.icon-font{
    color: #2dc5fa;
}
.color-b a:hover{
    color: #2D354C;
}

