.main-box{
    background-color: rgb(33, 124, 183, .1);
}
.iron-box{
    padding: 4em;
}
.iron-box img{
    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 12%);
    flex-wrap: wrap;
    padding: 24px 32px 32px;
}
.row-box{
    justify-content: center;
    align-items: center;
}
.info-box{
    padding: 2em;
}
.info-box h6{
    color: #2D354C;

}
.info-box h2{
    color: #217cb7;  
}
.info-box p{
    text-align: justify;
    color: #2D354C;    
}

.service-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;

}
.row-box h1{
    padding-bottom: 1em;
    text-align: center;
}

.icon-service{
    margin-bottom: 24px;
    font-size: 3em;
    text-align: center;
    width: 100%;
}
.icon-service .icon-font {
    color: #2D354C;
}

.text-service h2{   
    color: #217cb7;  
}

.client-box{
    background-color: #f5f5f5;
    padding: 5em;
}

.counter {
    background-color:#ffffff;
    padding: 50px 0;
    border-radius: 5px;
    text-align: center;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 12%);

}

.counter-box{
    text-align: center;
    margin-bottom: 3em;
}

.counter-box h1{
    color: #217cb7;  

}

.counter .icon-font {
    font-size: 2em;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}