.row-profile{
    justify-content: center;
    align-items: center;

}

.row-datails{
    padding: 4em 6em;
    width: 50em;
    justify-content: space-around;
    align-items: center;
    display: flex;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 12%);
    flex-wrap: wrap;
    margin-bottom: 6em;
}
.row-datails img{
    width: 200px;
    
}
.btn-perfil{
    color: #2dc5fa;
    text-transform: uppercase;
}

.btn-perfil:hover{
    color: #2D354C;
}

.datails-card {
    padding: 0 0 0 3em;
}

.datails-card h3{
    color:  #2dc5fa;
}

.datails-card hr{
    border-top: 2px solid #2dc5fa;
}
.details-icons{
    display: flex;
    text-align: center;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}

.details-icons .icon-font{
    font-size: 30px;
}

.datails-box p{
    margin-top: .8em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.datails-card {
    padding: 0 0 0 3em;
}

.datails-card {
    padding: 0 0 0 3em;
}


.btn-datail {
    font-size: 1.5em;
    letter-spacing: .08em;
    width: 100%;
    border: 2px solid #2D354C;
    padding: .4em;
}

.btn-datail a{
    color: #ffffff !important;
}

.btn-datail:hover {
    box-shadow: 2px 4px 12px rgb(33, 124, 183 /12%);
    border: 2px solid #2dc5fa;
    color: #2dc5fa;
}

.btn-datail a:hover{
    color: #2dc5fa;
}

