
.Form-perfil h1 {
    color: #2D354C;
    text-align: left;
    border-left: 3px solid #2D354C;
    padding: .5em;
    margin-bottom: 2rem;
}

.Form-perfil input[type=number], input[type=text],input[type=file]{
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    padding: 8px 6px;
    margin-bottom: .5rem;
}

.Form-perfil label{
    font-size: 1.2em;
    color: #2dc5fa;
    padding: 8px 1px;
    margin-bottom: .5rem;
}

.btn-profile-form{
    
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: .09em;
    color: #ffffff;
    margin-top: 20px;
    width: 100%;
    background-color: #2dc5fa;
    border-color: #2dc5fa;
    padding: .5em;
}
.btn-profile-form:hover{
    background-color: #2D354C;
    border-color: #2D354C;
}

#lng{
    padding-right: 4.3em;
}