.card-box{
    background: #2D354C;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 40%);
    flex-wrap: wrap;
    max-width: 380px;
    padding: 22px 16px 30px;    
    justify-content: center;
    text-align: center;
}

.card-box h4{
    color: #ffffff;
}
.title-card{
    border-radius: 0.4rem;
    padding: 1rem 0;
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0;
}

.card-box-icons{
    display: flex;
    padding: 2em 1em 0;
    justify-content: space-around;
}

.card-box-icons .icon-font{
    font-size: 35px;
    color: #b5c1e5;
}

.card-box-icons p{
    color: #b5c1e5;
    margin-top: .8em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.btn-card-box{
    color: #ffffff;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: .09em;
    margin-top: 1em;
    border: rgb(0, 0, 0, 0);
    background-color: rgb(0, 0, 0, 0);


}

.btn-card-box:hover{
    background-color: #2dc5fa;
    border-color: #2dc5fa;
}

