.bg-color{
    background-color: #f8f8f8;
}

.room-row-box {
    justify-content: center;
    align-items: center;
    padding: 4em 0 0;   
}

.book-box{
    padding: 25em 2em;
    background-color: #2dc5fa;
    text-align: left;
}
.book-box h1{
    color: #ffffff;
    text-align: left;
    border-left: 3px solid;
    padding: .5em;
}

.btn-book {
    display: inline-block;
    margin-top: 1.6rem;
    text-align: center;
    border-radius: 0.4rem;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: .09em;
    width: 100%;
    background-color: #ffffff;
    border-color: #ffffff;
    padding: .8rem 0;
    color: #2dc5fa;
    transition: all .5s ease 0s;

}

.btn-book a{
    color: #2dc5fa;
}

.btn-book:hover {
    box-shadow: 2px 4px 12px rgb(0, 0, 0 /12%);
    border: 1px solid #2D354C;
    background-color: #2D354C;
    color: #ffffff;
}

.btn-book a:hover{
    color: #2D354C;
}

/* QUERIES */
@media (max-width: 767px) {
    .book-box{
        padding: 10em 2em;
    }
}
