.room-card{
    background-color: rgba(0,0,0,0);
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 380px;
    padding: 22px 16px 30px;    
    justify-content: center;
    text-align: center;
    border: none;
    transition: all 0.3s ease 0s;

}

.room-card:hover{
    background-color: #ffffff;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 12%);

}

.link-card{
    text-decoration: none;
}

.title{
    margin-top: 1.6rem;
    text-align: center;
    border-radius: 0.4rem;
    border: 2px solid rgb(45, 197, 250);
    padding: 1rem 0;
    color: rgb(45, 197, 250);
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.room-card:hover .title {
    color: #2D354C;
    border: none;
    font-size: 1.6rem;
    padding: 0;
}
